@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
body {
  --Red: hsl(0, 100%, 68%);
  --Very-Dark-Blue: hsl(230, 29%, 20%);
  --Dark-Grayish-Blue: hsl(230, 11%, 40%);
  --Grayish-Blue: hsl(231, 7%, 65%);
  --Light-Grayish-Blue: hsl(207, 33%, 95%);
  --Container-Margin: 7em;
  display: flex;
  flex-direction: column;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  font-weight: 400;
  overflow-x: hidden;
}

header {
  display: flex;

  justify-content: space-between;
  align-items: center;
}
header .logo img {
  width: 24px;
}
nav ul {
  display: flex;
  text-transform: uppercase;
  list-style: none;
}
nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  letter-spacing: 1px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  color: var(--Very-Dark-Blue);
  text-decoration: none;
}
nav ul li div.divider {
  background-color: #e3e3e3;
}
nav ul li:nth-last-child(1) a {
  color: var(--Grayish-Blue);
}
.menu-toggle {
  outline: none;
}
.menu-toggle:focus {
  outline: none;
}
main {
  overflow: hidden;
}
main .hero .hero__image {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./images/illustration-devices.svg");
  z-index: -100;
}
.background-container {
  position: absolute;
  width: 100%;
  overflow-x: hidden;
  z-index: -200;
}
.background-rec {
  display: inline-block;
  border-radius: 60px;
  background-color: var(--Light-Grayish-Blue);
  z-index: -200;
}
.main-container .hero .content .badge {
  display: flex;
  margin-top: 3.5rem;
  align-items: center;
  text-align: center;
}
.main-container .hero .content .badge div {
  padding-block: 0.2em;
  padding-inline: 0.6em;
  border-radius: 25px;
  color: white;
  background-color: var(--Very-Dark-Blue);
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
}
.main-container .hero .content .badge p {
  margin-left: 1rem;
  margin-top: -3px;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  letter-spacing: 4.5px;
  text-transform: uppercase;
  color: var(--Grayish-Blue);
}
.main-container .hero .content h1 {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  color: var(--Very-Dark-Blue);
}
.main-container .hero .content h2 {
  color: var(--Dark-Grayish-Blue);
}
.main-container .hero .call-to-action {
  display: flex;
  align-items: center;
}
.main-container .hero .call-to-action .call__btn {
  display: flex;
  padding-block: 0.75em;
  padding-inline: 1.25em;
  text-decoration: none;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.5px;
  color: white;
  border-radius: 5px;
  background-color: var(--Red);
}
.main-container .hero .call-to-action a:last-of-type {
  margin-left: 10px;
  padding: 0;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--Grayish-Blue);
}
/*
    Mobile First Screen
*/
@media (max-width: 375px) {
  .background-rec {
    margin-top: -4.75rem;
    margin-left: 11.85rem;
    width: 500px;
    height: 500px;
  }
  .main-container {
    padding-inline: 1.7em;
  }
  header {
    padding-block: 2.25em;
    padding-inline: 1.5em;
  }
  nav {
    display: none;
  }
  nav ul {
    left: 0;
    margin-top: 45px;
    margin-left: 8%;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-block: 0.75em;
    width: 84%;
    background-color: white;
    border-radius: 3px;
    box-shadow: -3px 5px 10px rgba(150, 150, 150, 0.6);
    z-index: 10000;
  }
  nav ul li {
    width: 100%;
  }
  nav ul li:nth-last-child(1) a {
    margin-top: 0.75rem;
  }
  nav ul li div.divider {
    margin-top: 0.75rem;
    width: 260px;
    height: 1px;
  }
  nav ul li a {
    padding-inline: 2em;
    padding-block: 0.65em;
  }
  main .hero .hero__image {
    margin-left: -1.2em;
    margin-top: 16px;
    width: 32rem;
    height: 15em;
  }
  .main-container .hero .content h1 {
    line-height: 2.5rem;
    margin-top: 0.4em;
    font-size: 2.5rem;
  }
  .main-container .hero .content h2 {
    font-size: 19px;
    font-weight: 400;
    margin-top: 1rem;
  }
  .main-container .hero .call-to-action {
    justify-content: space-between;
    margin-top: 2rem;
  }
}

/*
    Desktop Screen
*/
@media (min-width: 376px) {
  .main-container .hero {
    position: relative;
    overflow-x: hidden;
  }
  .background-rec {
    display: block;
    position: relative;
    margin-top: -10.5rem;
    margin-left: auto;
    margin-right: -18rem;
    width: 1000px;
    height: 600px;
  }
  header {
    padding-block: 3.25em;
    flex-direction: row;
    padding-inline: var(--Container-Margin);
  }
  .menu-toggle {
    display: none;
  }
  nav {
    position: relative;
    width: 100%;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  nav ul li {
    width: 120px;
  }
  nav ul li:nth-last-child(2) {
    width: 12px;

    padding: 0;
  }
  nav ul li .divider {
    border-radius: 3px;
    min-width: 5px;
    height: 5px;
  }
  nav ul li:hover a {
    cursor: pointer;
    text-decoration: underline;
  }
  body {
    height: 100vh;
  }
  .main-container .hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 40rem;
    width: 100%;
    padding-inline: var(--Container-Margin);
    padding-top: 2em;
  }
  .main-container .hero .hero__image {
    order: 2;
    position: absolute;
    left: auto;
    right: -29rem;
    margin-top: 0rem;
    width: 80%;
    height: 28rem;
  }
  .main-container .hero .content {
    width: 50%;
    order: 1;
  }
  .main-container .hero .content h1 {
    margin-top: 0.2em;
    font-size: 4.25rem;
    line-height: 4.25rem;
  }
  .main-container .hero .content .call-to-action {
    justify-content: flex-start;
  }
  .main-container .hero .content .call-to-action a:last-child {
    letter-spacing: 3px;
    margin-left: 1.5em;
  }
  .main-container .hero .content h2 {
    font-size: 19px;
    font-weight: 400;
    margin-top: 1.5rem;
    max-width: 50%;
  }
  .main-container .hero .call-to-action {
    justify-content: space-between;
    margin-top: 4rem;
  }
  .main-container .hero .call-to-action .call__btn:hover {
    opacity: 0.9;
  }
}

.hide {
  display: none;
}

.show {
  display: flex;
}
